.card {
  position: relative;
  @include column(space-between);
  padding-top: 15rem;
  padding-bottom: 17.5rem;
  height: 63rem;
  text-align: center;
  background: url(/static/img/card-bg.png) top / 100% no-repeat;
  transition: transform 0.2s;

  @include mob {
    height: 32rem;
    padding-top: 7.5rem;
    padding-bottom: 8.5rem;
  }

  &:hover {
    transform: scale(1.12);

    @include mob {
      transform: none;
    }
  }
}

.card__number {
  padding-left: 1rem;

  @include mob {
    padding-left: 0.5rem;
  }

  img {
    width: 13.4rem;

    @include mob {
      width: 7rem;
    }
  }
}

.card__btn {
  width: 22rem;
  height: 5rem;
  box-shadow: 0 0.4rem 2.5rem rgba(#000, 0.6);

  @include mob {
    width: 12rem;
    height: 3.5rem;
  }

  &::before {
    top: -0.4em;
    left: -0.4em;
    right: -0.4em;
    bottom: -0.4em;
  }
}
