.game {
  background: url(/static/img/game-bg.jpg) center / cover;
}

.game__header {
  @include row(space-between, center);
  padding-top: 5.2rem;
  // padding-bottom: 5rem;
  text-align: center;

  @include mob {
    flex-wrap: wrap;
    padding: 3.4rem 1.9rem 0;
  }
}

.game__title {
  padding-top: 2.5rem;

  @include mob {
    margin-bottom: 1.1em;
    padding-top: 0;
  }
}

.game__counter {
  @include row;
  width: 25rem;
  font-family: "Futura New", sans-serif;
  font-weight: 700;

  @include mob {
    display: block;
    width: auto;
  }

  h3 {
    font-size: 2.6rem;
    font-weight: 700;
    text-transform: uppercase;

    @include mob {
      font-size: inherit;
    }
  }

  p {
    font-size: 4.2rem;
    line-height: 0.8;

    @include mob {
      font-size: inherit;
    }

    span {
      font-size: 10rem;

      @include mob {
        font-size: 3rem;
      }
    }
  }

  &--try {
    order: -1;

    @include mob {
      order: 0;
      text-align: left;
    }

    span {
      color: #F6A52B;
    }
  }

  &--time {
    justify-content: flex-end;

    @include mob {
      text-align: right;
    }

    span {
      color: #7CCBFF;
    }
  }
}

.game__slider {
  position: relative;
  padding-top: 5rem;
  overflow-x: hidden;

  @include mob {
    padding-top: 2.5rem;
    padding-bottom: 5.5rem;
  }

  .swiper-container {
    overflow: unset;
  }

  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    width: 31.6rem;
    background: url(/static/img/game-shadow.png) top / 100% no-repeat;
    cursor: pointer;

    @include mob {
      width: 16rem;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 3.5rem;
      width: 10.5rem;
      height: 10.5rem;
      background: url(/static/img/game-arrow.png) center / contain no-repeat;

      @include mob {
        right: 1.5rem;
        width: 4.7rem;
        height: 4.7rem;
      }
    }
  }

  .swiper-button-prev {
    left: -15.7rem;

    @include mob {
      left: -8.9rem;
    }
  }

  .swiper-button-next {
    right: -15.7rem;
    transform: scaleX(-1);

    @include mob {
      right: -8.9rem;
    }
  }

  @include mob {
    .swiper-slide-active .card {
      transform: scale(1.12);
    }
  }
}

.game__pagination {
  @include desktop-only;
  @include row(center);
  padding: 7.5rem 0;

  .swiper-pagination-bullet {
    padding: 0.5rem;
    cursor: pointer;

    &::before {
      content: "";
      display: block;
      width: 1.6rem;
      height: 1.6rem;
      border-radius: 50%;
      background-color: #fff;
    }

    &.active::before {
      box-shadow: 0 0 0 0.3rem #fff;
      background-image: linear-gradient(180deg, #F6A52B 0%, #FA5900 100%);
    }
  }
}
