.message {
  padding-bottom: 6rem;

  @include mob {
    padding-bottom: 0;
  }
}

.message__container {
  position: relative;
  width: 61.8rem;
  margin: auto;
  background: linear-gradient(90deg, #349AD3 0%, #93E5FF 100%);
  animation: fade-up 0.4s both;

  @include mob {
    width: auto;
    height: auto;
  }

  &--success {
    height: 45.4rem;
  }

  &--fail {
    height: 31.4rem;
  }

  &::before {
    @include desktop-only;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10rem;
    background: url(/static/img/message-top.svg) top / cover no-repeat;
  }
}

.message__header {
  @include row(_, flex-start);
  padding-top: 0.8rem;
  padding-left: 1.2rem;
  padding-right: 18rem;

  @include mob {
    display: block;
    padding: 1.5rem;
    background-color: #05345F;
  }
}

.message__photo {
  width: 16.5rem;
  height: 16.5rem;
  margin-top: -4.2rem;
  border-radius: 50%;
  overflow: hidden;

  @include mob {
    width: 6.9rem;
    height: 6.9rem;
    margin: 0 auto 0.8rem;
  }

  img {
    width: 100%;
  }
}

.message__person {
  margin: 0 auto;
  font-family: "RPL Kit Condensed", sans-serif;
  text-align: center;

  @include mob {
    // margin: 0;
    @include row(center);
    font-size: 1.3rem;
  }
}

.message__number {
  font-size: 3rem;

  @include mob {
    margin-right: 0.3em;
    font-size: inherit;
  }
}

.message__close {
  @include button-reset;
  position: absolute;
  top: 0;
  right: 0;
  width: 7rem;
  height: 7rem;
  background: url(/static/img/close.svg) center / contain no-repeat;

  @include mob {
    width: 4rem;
    height: 4rem;
  }
}

.message__success {
  padding: 1.5rem 3rem 4rem;

  @include mob {
    padding: 3rem 0 0;
    text-align: center;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6rem;
    width: 100%;
    height: 30.5rem;
    background: url(/static/img/message-bottom.svg) bottom / cover no-repeat;

    @include mob {
      bottom: 0;
      transform: scaleX(-1);
      height: 27rem;
      background-position: bottom right;
    }
  }
}

.message__title {
  margin-bottom: 4.2rem;
  font-size: 2.6rem;
  font-weight: 700;

  @include mob {
    margin-bottom: 1.3rem;
    padding: 0 2rem;
    font-size: 2.2rem;
    line-height: 1;
  }

  span {
    display: block;

    @include mob {
      display: inline;
      padding: 0 !important;
      font-size: inherit !important;

      &:nth-child(1) {
        display: block;
      }
    }

    &:nth-child(1) {
      font-size: 3.6rem;
    }
    &:nth-child(2) {
      padding-left: 0.6em;
    }
    &:nth-child(3) {
      padding-left: 2.9em;
    }
    &:nth-child(4) {
      padding-left: 1.5em;
      font-size: 3.6rem;
    }
  }
}

.message__prize {
  position: absolute;
  top: 12rem;
  right: 5rem;

  @include mob {
    position: relative;
    top: auto;
    right: auto;
    margin-bottom: 1rem;
  }

  img {
    width: 21.5rem;

    @include mob {
      width: 16rem;
    }
  }
}

.message__text {
  position: relative;
  max-width: 28rem;
  padding-left: 1rem;
  line-height: 1.333;
  color: #000;

  @include mob {
    max-width: none;
    padding-left: 0;
    padding-bottom: 4rem;
    background-color: #fff;
  }

  h4 {
    font-size: 2.4rem;
    font-weight: 700;

    @include mob {
      font-size: 2.2rem;
    }
  }

  p {
    margin-bottom: 0.6em;
    font-size: 1.8rem;

    &:last-child {
      margin-bottom: 0;
      color: $bg-color;
    }

    @include mob {
      font-size: 1.2rem;
    }
  }
}

.message__fail {
  padding: 0 11rem;
  text-align: center;

  @include mob {
    padding: 3rem 0;
  }
}
