.info {
  margin-top: auto;
  padding-top: 5.5rem;
  padding-bottom: 8rem;
  box-shadow: 0 3rem 3rem rgba(#000, 0.3) inset;
  background-color: $bg-color;

  @include mob {
    padding-top: 2rem;
    padding-bottom: 3rem;
  }
}

.info__container {
  @include mob {
    padding: 0 2rem;
  }
}

.info__text {
  font-size: 1.6rem;
  line-height: 1.5;

  @include mob {
    font-size: 0.9rem;
  }

  p {
    margin-bottom: 1.5em;

    @include mob {
      margin-bottom: 0.9em;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
