#toTop {
    border: 1px solid #999;
    border-radius: 33px;
    color: #999;
    cursor: pointer;
    display: block;
    font: bold 23px/23px Tahoma;
    height: 33px;
    overflow: hidden;
    position: fixed;
    right: 5px;
    bottom: 5%;
    text-align: center;
    width: 33px;
}