*,
*::before,
*::after {
  box-sizing: border-box;
  // outline-color: $accent;
}

// *::selection {
//   background-color: $accent;
//   color: #fff;
// }

html, body {
  height: 100%;
}

html {
  font-size: 0.5209vw;

  @include mob {
    font-size: 3.125vw;
  }
}

body {
  position: relative;
  @include column;
  min-width: 320px;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  background-color: #1772B9;
  color: #fff;

  @include mob {
    font-size: 1.2rem;
  }
}

header,
footer,
main,
section,
aside {
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font: inherit;
}

p,
blockquote,
figure {
  margin: 0;
}

ul,
ol,
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

img,
video,
iframe,
button {
  vertical-align: top;
}

iframe {
  border: none;
}

a {
  color: inherit;
}

button {
  font: inherit;
  color: inherit;
  letter-spacing: inherit;
  cursor: pointer;

  &[disabled] {
    pointer-events: none;
  }
}

input,
textarea {
  font: inherit;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
