@font-face {
  font-family: 'icomoon';
  src:
    url('/static/fonts/social/icomoon.ttf?ti8cd1') format('truetype'),
    url('/static/fonts/social/icomoon.woff?ti8cd1') format('woff'),
    url('/static/fonts/social/icomoon.svg?ti8cd1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ok:before {
  content: "\e904";
}
.icon-tg:before {
  content: "\e900";
}
.icon-vk:before {
  content: "\e903";
}
.icon-fb:before {
  content: "\ea90";
}
.icon-wa:before {
  content: "\ea93";
}
.icon-tw:before {
  content: "\ea96";
}
