.play {
  padding-top: 20.5rem;
  padding-bottom: 10.5rem;
  text-align: center;
  background: url(/static/img/play-bg.jpg) center / cover no-repeat;

  @include mob {
    padding-top: 5rem;
    padding-bottom: 6rem;
  }
}

.play__container {
  @include mob {
    padding: 0 2rem;
  }
}

.play__title {
  margin-bottom: 2.1em;

  @include mob {
    margin-bottom: 0.5em;
  }
}

.play__image {
  margin-bottom: 8.8rem;

  @include mob {
    margin-bottom: 3rem;
  }

  img {
    width: 111.4rem;

    @include mob {
      width: 100%;
    }
  }
}
